<!DOCTYPE html>
<html lang="en">
  <head>

    {{ headContent() }}
    {{ headerBoilerPlate }}
    {{ bootstrapLib() }}
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        {{ sideBarBoilerPlate }}
        {{ navbarBoilerPlate }}

        <!-- page content -->
        <div class="right_col" role="main">

          {{ main_body }}
          
        </div>
        <!-- /page content -->

        {{ footerBoilerPlate }}
        
      </div>
    </div>

  </body>
</html>